

body{
    background-color: rgb(187, 25, 236);
}


.form {
    display: flexbox;
    flex-wrap: wrap;
    border: 5px  ;
    outline: solid gray;
    background-color: rgb(243, 242, 242);
    height: 20cm;
    margin-left: 4cm;
    margin-right: 4cm;
    padding: 15px;
    border-radius: 7px;
    
   }
 input[type="text"]
  {
     width: 90%;
     padding: 15px;
     border-radius: 5px;
     border-color: grey;
 }
 input[type="email"]{
     width: 39%;
     padding:15px;
     border-color: grey;
     border-radius:5px ;
     }

select{
    width: 40%;
    padding:15px;
    border-radius:5px ;
    border-color: grey;
}

input[type="tel"]{
        width: 39% ;
        padding:15px ;
        border-color: grey ;
        border-radius:5px ;
        }

        input[type=button]  {
            background-color: rgb(83, 226, 83);
            border: none;
            color: black;
            padding: 15px 20px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
          }


 